body{
    margin: 0;
    padding: 0;
    background: url(pic1.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 750px;
    background-position: up;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    font-size: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-weight: bold;
    background: #000;
    border-width: 32px;

}

.signupbox{
    width: 320px;
    height: fit-content+20px;
    background: black;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
}


h2{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.signupbox p{
    margin: 0;
    padding: 0;
    font-weight:normal;
    font-size: 20px;
    color: white;
}

.signupbox input{
    width: 100%;
    margin-bottom: 20px;
}

.signupbox input[type="text"], input[type="text"], input[type="password"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
}
.signupbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.signupbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}